body{
<<<<<<< HEAD
    margin: auto;
    box-sizing: border-box;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.allPage {
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
    min-width: 150px; 
    background-color: #EFEFEF;
    display: flex;  
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.boiteBoite {
    padding: 2em;
    border-color: lightslategray;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    border-radius: 0.7%;
    font-size: 0.9rem;
    max-width: 450px;
    min-width: 150px;
    width: 100%;
=======
    max-width: 1000px;
    min-width: 300px; 
    margin: auto;
    box-sizing: border-box;
    padding: 5%;
    background-color: #EFEFEF;
}


.allPage {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
>>>>>>> 5a4fb6e5b24d58ea4a5d447c1f1437d28443ba92
}

.timberTimber {
    background-color: white;
<<<<<<< HEAD
    height: auto;
    width: 100%;
    margin-bottom: 2em;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
=======
    height: 35em;
    width: 40em;
    padding-bottom: 5em;
    padding-top: 5em;
    margin-bottom: 5em;
>>>>>>> 5a4fb6e5b24d58ea4a5d447c1f1437d28443ba92
}

.boiteBoite {
    padding: 2em;
    border-color: lightslategray;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    border-radius: 0.7%; 
}


.imgTimber {
    border-radius: 50%;
    height: 12em;
    width: 11.5em;
    border: solid 4px lightgrey;
<<<<<<< HEAD
}
=======
>>>>>>> 5a4fb6e5b24d58ea4a5d447c1f1437d28443ba92

h1 {
    color: #ff4d4d;
    text-align: center;
}

h2 {
    color: #818181;
    padding: 10px; 
    text-align: center;
}

h3 {
    color: #818181;
    text-align: center;
}

<<<<<<< HEAD
p {
=======
h1 {
    color: #ff4d4d;
}

h2 {
    color: #818181;
}

h3 {
>>>>>>> 5a4fb6e5b24d58ea4a5d447c1f1437d28443ba92
    color: #818181;
}

.linkTimber {     
    background-color: #ff4d4d;
<<<<<<< HEAD
    height: 55px;
    width: 155px;
    border-radius: 4%;
    color: white;
    font-size: 15px;
    cursor: pointer;
=======
    height: 2.5em;
    width: 8em;
    border-radius: 4%;
    color: white;
    font-size: 24px;
>>>>>>> 5a4fb6e5b24d58ea4a5d447c1f1437d28443ba92
    display: flex; 
    align-items: center;
    justify-content: center;
}

.linkLink {
    background-color: white;
    height: 10em;
<<<<<<< HEAD
    width: 100%;
    margin-bottom: 2em;
    display: flex; 
    justify-content: space-around;
    align-items: center;   
    text-align: center;
}

.linkLink a {
    text-decoration: none;
    color: #acaaaa;
    font-size: 20px;
}

.resSocial {
    cursor: pointer; 
=======
    width: 40em;
    padding-bottom: 5em;
    margin-bottom: 5em;
}

#facebook {
    height: 40px; 
    width: 20em; 
    display: flex;
    flex-direction: row;
    justify-content: left; 
}

#linkedin {
    height: 40px; 
    width: 20em; 
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

#twitter {
    height: 40px; 
    width: 20em; 
    display: flex; 
    flex-direction: row; 
    justify-content: right; 
>>>>>>> 5a4fb6e5b24d58ea4a5d447c1f1437d28443ba92
}

.movieMovie {
    background-color: white;
<<<<<<< HEAD
    height: auto;
    width: 100%;
    padding-bottom: 0em;
}

.boiteFilm {
    display: flex; 
    flex-direction: row;  
    width: 100%;
}

@media screen and (max-width: 540px) {
    .boiteFilm {
        flex-direction: column;
        align-items: center;
    }
    .linkLink {
        flex-direction: column;
    }
    .boiteImage {
        display: flex; 
        justify-content: center;
    }
}

.textFilm {
    height: auto; 
    width: 70%;
    text-align: justify;
}

.boiteImage { 
    width: 30%;
    min-width: 150px;
}

.imgFilm {
    height: 10em;
    padding-bottom: 25%;
    padding-top: 15%;
}

span{
    background-color: #EFEFEF;
}



=======
    height: 90em;
    width: 40em;
    padding-bottom: 5em;
}
>>>>>>> 5a4fb6e5b24d58ea4a5d447c1f1437d28443ba92
