body{
    max-width: 1000px;
    min-width: 300px; 
    margin: auto;
    box-sizing: border-box;
    padding: 5%;
    background-color: #EFEFEF;
}


.allPage {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timberTimber {
    background-color: white;
    height: 35em;
    width: 40em;
    padding-bottom: 5em;
    padding-top: 5em;
    margin-bottom: 5em;
}

.boiteBoite {
    padding: 2em;
    border-color: lightslategray;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    border-radius: 0.7%; 
}


.imgTimber {
    border-radius: 50%;
    height: 12em;
    width: 11.5em;
    border: solid 4px lightgrey;

}

.textTimber {

}

h1 {
    color: #ff4d4d;
}

h2 {
    color: #818181;
}

h3 {
    color: #818181;
}

.linkTimber {     
    background-color: #ff4d4d;
    height: 2.5em;
    width: 8em;
    border-radius: 4%;
    color: white;
    font-size: 24px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.linkLink {
    background-color: white;
    height: 10em;
    width: 40em;
    padding-bottom: 5em;
    margin-bottom: 5em;
}

#facebook {
    height: 40px; 
    width: 20em; 
    display: flex;
    flex-direction: row;
    justify-content: left; 
}

#linkedin {
    height: 40px; 
    width: 20em; 
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

#twitter {
    height: 40px; 
    width: 20em; 
    display: flex; 
    flex-direction: row; 
    justify-content: right; 
}

.movieMovie {
    background-color: white;
    height: 90em;
    width: 40em;
    padding-bottom: 5em;
}
