.backBack {
    background-color: #EFEFEF; 
    
}

.timberTimber {
    background-color: white;
    height: 35em;
    width: 40em;
    margin: auto;
    padding-bottom: 5em;
    padding-top: 5em;
}

.imgTimber {

}

.textTimber {

}

.linkTimber {

}

.linkLink {
    background-color: white;
    height: 10em;
    width: 40em;
    margin: auto;
    padding-bottom: 5em;
}

.movieMovie {
    background-color: white;
    height: 90em;
    width: 40em;
    margin: auto;
    padding-bottom: 5em;
}